# =====================
# Django / Python
# =====================
backend/venv/
backend/.env
backend/db.sqlite3

__pycache__/
*.py[cod]
*.pyo

backend/staticfiles/
backend/media/

# Testing
.coverage
htmlcov/
.pytest_cache/

# macOS
.DS_Store